<header>
    <div class="container cabecalho">
        <a href="index.html"><img class="imagemLogo" src="assets/img/gameMania.svg" alt="logo game mania"></a>
        <nav id="menu" class="menu">
            <a href="#">Jogos</a>
            <a href="#">Lançamentos</a>
            <a href="#">Suporte</a>
            <a href="#">Pesquisar</a>
            <a routerLink="/login" >Login</a>
        </nav>
        <a href="#" id="barras" class="icone-bars" onclick="mostrarMenu()" ><img  src="assets/img/barsb.svg" alt=""></a> 
    </div>
</header>
