
<main>
    <section id="carrossel" class="banner banner_f1">
        <div class=" container posicionamento_banner">
            <div class="conteudo_banner">
            <h1>Game Mania</h1>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="#">Botao</a>
        </div>
        
        </div>
    </section>
    <section class="secao_navegacao">
        <div class="posicionamento_navegacao  container">
            <div class="item_navegacao"><a href="#"><img src="assets/img/img_controle.png" alt="imagem de um controle"></a> 
            <a href="#">Jogos</a>
            </div>
            <div class="item_navegacao"><a href="#"><img src="assets/img/img_fone.png" alt="imagem de um fone"></a> 
            <a href="#">Acessórios</a>
            </div>
            <div class="item_navegacao"><a href="#"><img src="assets/img/img_console.png" alt="imagem de um console"></a> 
            <a href="#">Consoles</a>
            </div>
            
            <div class="item_navegacao"><a href="#"><img src="assets/img/img_ofertas.png" alt="imagem de ofertas"></a>
            <a href="#">Ofertas</a>
            </div>
            <div class="item_navegacao">
            <a href="login.html"><img src="assets/img/img_entrar.png" alt="imagem para entrar"></a>
            <a href="login.html" target="_blank">Entrar</a>
            </div>
        </div>
    </section>
    <section class="lancamentos">
        <div class="cabecalho_jogos">
            <h2 class="">Lançamentos 25% off</h2>
        </div>
        <div class="container">
            <div class="jogos">
                <div class="card_jogos">
                    <div class="imagem_card"></div>
                    <div class="nome_jogo"><a href="#">Red Dead</a></div>
                </div>
                <div class="card_jogos">
                    <div class="imagem_card"></div>
                    <div class="nome_jogo"><a href="#">Red Dead</a></div>
                </div>
                <div class="card_jogos card_3">
                    <div class="imagem_card"></div>
                    <div class="nome_jogo"><a href="#">Red Dead</a></div>
                </div>
                <div class="card_jogos card_end">
                    <div class="imagem_card"></div>
                    <div class="nome_jogo"><a href="#">Red Dead</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="top_mais_jogados">
        <div class="cabecalho_jogos">
            <h2 class="">Top 10 mais jogados</h2>
        </div>
        <div class="container">
            <div class="jogos">
                <div class="card_jogos">
                    <div class="imagem_card"></div>
                    <div class="nome_jogo"><a href="#">Red Dead</a></div>
                </div>
                <div class="card_jogos">
                    <div class="imagem_card"></div>
                    <div class="nome_jogo"><a href="#">Red Dead</a></div>
                </div>
                <div class="card_jogos card_3">
                    <div class="imagem_card"></div>
                    <div class="nome_jogo"><a href="#">Red Dead</a></div>
                </div>
                <div class="card_jogos card_end">
                    <div class="imagem_card"></div>
                    <div class="nome_jogo"><a href="#">Red Dead</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="acessorios">
        <div class="cabecalho_jogos">
            <h2 class="">Acessórios</h2>
        </div>
        <div class="position_acessorios container">
            <div class="item_navegacao"><a href="#"><img src="assets/img/img_controle.png" alt="imagem de um controle"></a> 
            <a href="#">Controles</a>
            </div>
            <div class="item_navegacao"><a href="#"><img src="assets/img/img_fone.png" alt="imagem de um fone"></a> 
            <a href="#">Fones</a>
            </div>
            <div class="item_navegacao"><a href="#"><img src="assets/img/img_teclados.png" alt="imagem de um teclado"></a> 
            <a href="#">Teclados</a>
            </div>
            <div class="item_navegacao"><a href="#"><img src="assets/img/img_cadeiras.png" alt="imagem de uma cadeira"></a> 
            <a href="#">Cadeiras</a>
            </div>
        </div>
    </section>
</main>
